{% extends 'layout.html' %}

{% block title %}500 - Server Error{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Something Went Wrong</h1>
    <p class="lead text-center">
        We’re experiencing a technical hiccup.
    </p>
    <p class="text-center">
        Please try refreshing the page or come back a little later.
    </p>
    <p class="text-center mt-4">
        We’re sorry for the inconvenience and thank you for your patience.
    </p>
    <div class="text-center mt-5">
        <a href="{{ url_for('home') }}" class="return-btn">Return to Home</a>
    </div>
</div>
{% endblock %}
