{% extends "layout.html" %}

{% block title %}Administrator Dashboard{% endblock %}

{% block content %}

<h2> Greetings admin! Please find user submissions up to {{current_date}}</h2>

<section>
    <div class="row strong">
        <div class="col-sm">Query_ID</div>
        <div class="col-sm">Username</div>
        <div class="col-sm">Subject_ID</div>
        <div class="col-sm">Message</div>
        <div class="col-sm">Date</div>
        <div class="col-sm">Customer_ID</div>
    </div>
    <hr>
    {% for submission in contactus %}
    <div class="row">
        <div class="col-sm">
    <p>{{submission.query_id}}</p>
        </div>
        <div class="col-sm">
    <p>{{ submission.username }}</p>
                </div>
        <div class="col-sm">
    <p>{{ submission.subject_id }}</p>
                </div>
        <div class="col-sm">
    <p>{{ submission.message }}</p>
                </div>
        <div class="col-sm">
    <p>{{ submission.date }}</p>
                </div>
        <div class="col-sm">
    <p>{{ submission.customer_id }}</p>
                </div>
       <hr>
    </div>
    {% endfor %}
 </section>

{% endblock %}