{% extends "layout.html" %}

{% block title %}Founders - Bakery Website{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Meet Our Founders</h1>
    <p class="text-center lead mb-5">Welcome to Kaasp Bakery! Our bakery was founded by a group of passionate bakers who are dedicated to bringing you the best baked goods in town. Here are the amazing people behind our success:</p>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card shadow-sm hover-shadow-lg">
                <div class="card-body d-flex align-items-center">
                    <img src="{{ url_for('static', filename='kinga.jpg') }}" class="rounded-circle me-3" alt="Kinga" style="width: 80px; height: 80px; object-fit: cover;">
                    <h5 class="card-title">Kinga</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm hover-shadow-lg">
                <div class="card-body d-flex align-items-center">
                    <img src="{{ url_for('static', filename='aiman.jpg') }}" class="rounded-circle me-3" alt="Aiman" style="width: 80px; height: 80px; object-fit: cover;">
                    <h5 class="card-title">Aiman</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm hover-shadow-lg">
                <div class="card-body d-flex align-items-center">
                    <img src="{{ url_for('static', filename='images/anita.jpg') }}" class="rounded-circle me-3" alt="Anita" style="width: 80px; height: 80px; object-fit: cover;">
                    <h5 class="card-title">Anita</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm hover-shadow-lg">
                <div class="card-body d-flex align-items-center">
                    <img src="{{ url_for('static', filename='images/sai.jpg') }}" class="rounded-circle me-3" alt="Sai" style="width: 80px; height: 80px; object-fit: cover;">
                    <h5 class="card-title">Sami</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm hover-shadow-lg">
                <div class="card-body d-flex align-items-center">
                    <img src="{{ url_for('static', filename='images/pooja.jpg') }}" class="rounded-circle me-3" alt="Pooja" style="width: 80px; height: 80px; object-fit: cover;">
                    <h5 class="card-title">Pooja</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
